<ng-container *ngIf="employeeData.length>0">

    <!-- Modal to add employee -->

    <div class="modal fade" id="addEmployee" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEmp">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="employeeEditObj">
                        <div class="form-group">
                            <label> F I R S T N A M E </label>
                            <input type="text" class="form-control" name="first name"
                                formControlName="firstName" placeholder="First Name">
                            <span class="text-danger"
                                *ngIf="(editFromControls.firstName.touched) && editFromControls.firstName.errors?.required">
                                Required*</span>
                        </div>
                        <div class="form-group">
                            <label>L A S T N A M E</label>
                            <input type="text" class="form-control" name="lastName" 
                            formControlName="lastName" placeholder="Last Name">
                            <span class="text-danger"
                                *ngIf="(editFromControls.lastName.touched) && editFromControls.lastName.errors?.required">
                                Required*</span>
                        </div>
                        <div class="form-group">
                            <label>E M A I L</label>
                            <input type="text" class="form-control" name="emial" formControlName="email"
                                placeholder="Email">
                            <span class="text-danger"
                                *ngIf="editFromControls.email.touched && editFromControls.email.errors?.required">
                                Required*</span>
                        </div>
                        <div class="form-group">
                            <label>G E N D E R</label>
                            <select name="gender" formControlName="gender" id="gender">
                                <option value="M">M</option>
                                <option value="F">F</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>E X P E R I E N C E</label>
                            <input type="text" class="form-control" name="experience" formControlName="experience"
                                placeholder="Experience">
                            <span class="text-danger"
                                *ngIf="(editFromControls.experience.touched) && editFromControls.experience.errors?.required">
                                Required*</span>
                        </div>
                        <div class="form-group">
                            <label>A P P S D E V E L O P E D</label>
                            <input type="text" class="form-control" name="appsDeveloped" formControlName="appsDeveloped"
                                placeholder="Apps Developed">
                            <span class="text-danger"
                                *ngIf="(editFromControls.appsDeveloped.touched) && editFromControls.appsDeveloped.errors?.required">
                                Required*</span>
                        </div>
                        <div class="form-group">
                            <label>U S E R N A M E</label>
                            <input type="text" class="form-control" name="username" formControlName="username"
                                placeholder="Username">
                            <span class="text-danger"
                                *ngIf="(editFromControls.username.touched) && editFromControls.username.errors?.required">
                                Required*</span>
                        </div>
                        <div class="form-group">
                            <label>J O I N I N I N G T I M E</label>
                            <input type="date" formControlName="joiningTime" class="form-control" name="joiningTime"
                                placeholder="J O I N I N G T I M E">
                        </div>
                        <div class="form-group">
                            <label>I M A G E U R L</label>
                            <input type="text" formControlName="imageUrl" class="form-control" name="imageUrl"
                                placeholder="Image url">
                        </div>
                        <div class="text text-center">
                            <button type="button" [disabled]="!employeeEditObj.valid" class="btn btn-primary"
                                (click)="addEmployee()" data-dismiss="modal">Add Employee</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary addButton"
     data-toggle="modal" data-target="#addEmployee" (click)="resetEmployee()">
        A D D
    </button>

    <!-- Modal to edit employee -->
    <div class="modal fade" id="editEmployee" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editEmp">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="employeeEditObj" (ngSubmit)="editEmployee()">
                        <div class="form-group">
                            <label>I D</label>
                            <input type="text" class="form-control" name="id" formControlName="id" placeholder="ID"
                                readonly />
                        </div>

                        <div class="form-group">
                            <label> F I R S T N A M E </label>
                            <input type="text" class="form-control" name="first name"
                                formControlName="firstName" placeholder="First Name">
                            <span class="text-danger"
                                *ngIf="(editFromControls.firstName.touched) && editFromControls.firstName.errors?.required">
                                Required*</span>
                        </div>
                        <div class="form-group">
                            <label>L A S T N A M E</label>
                            <input type="text" class="form-control" name="lastName" formControlName="lastName"
                                placeholder="Last Name">
                            <span class="text-danger"
                                *ngIf="(editFromControls.lastName.touched) && editFromControls.lastName.errors?.required">
                                Required*</span>
                        </div>
                        <div class="form-group">
                            <label>E M A I L</label>
                            <input type="text" class="form-control" name="emial" formControlName="email"
                                placeholder="Email">
                            <span class="text-danger"
                                *ngIf="editFromControls.email.touched && editFromControls.email.errors?.required">
                                Required*</span>
                        </div>
                        <div class="form-group">
                            <label>G E N D E R</label>
                            <input type="text" class="form-control" name="gender" formControlName="gender"
                                placeholder="gender">
                            <span class="text-danger"
                                *ngIf="(editFromControls.gender.touched) && editFromControls.gender.errors?.required">
                                Required*</span>
                        </div>
                        <div class="form-group">
                            <label>E X P E R I E N C E</label>
                            <input type="text" class="form-control" name="experience" formControlName="experience"
                                placeholder="Experience">
                            <span class="text-danger"
                                *ngIf="(editFromControls.experience.touched) && editFromControls.experience.errors?.required">
                                Required*</span>
                        </div>
                        <div class="form-group">
                            <label>A P P S D E V E L O P E D</label>
                            <input type="text" class="form-control" name="appsDeveloped" formControlName="appsDeveloped"
                                placeholder="Apps Developed">
                            <span class="text-danger"
                                *ngIf="(editFromControls.appsDeveloped.touched) && editFromControls.appsDeveloped.errors?.required">
                                Required*</span>
                        </div>

                        <div class="form-group">
                            <label>U S E R N A M E</label>
                            <input type="text" class="form-control" name="username" formControlName="username"
                                placeholder="Username">
                            <span class="text-danger"
                                *ngIf="(editFromControls.username.touched) && editFromControls.username.errors?.required">
                                Required*</span>
                        </div>

                        <div class="form-group">
                            <label>J O I N I N I N G T I M E</label>
                            <input type="date" formControlName="joiningTime" class="form-control" name="joiningTime"
                                placeholder="J O I N I N G T I M E">
                        </div>

                        <div>
                            <button type="button" [disabled]="!employeeEditObj.valid" class="btn btn-primary"
                                (click)="editEmployee()" data-dismiss="modal">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th appSortTable [isDefault]="true" [isAscending]="false" [colName]="'firstName'"
                    (getSortValues)="sortByColumn($event)">
                    First Name
                </th>
                <th appSortTable [colName]="'lastName'" (getSortValues)="sortByColumn($event)">Last
                    Name</th>
                <th appSortTable [colName]="'username'" (getSortValues)="sortByColumn($event)">
                    Username</th>
                <th appSortTable [colName]="'email'" (getSortValues)="sortByColumn($event)">Email
                </th>
                <th appSortTable [colName]="'gender'" (getSortValues)="sortByColumn($event)">Gender
                </th>
                <th appSortTable [colName]="'experience'" (getSortValues)="sortByColumn($event)">
                    Experience</th>
                <th appSortTable [colName]="'appsDeveloped'" (getSortValues)="sortByColumn($event)">
                    Developed Apps</th>
                <th appSortTable [colName]="'joiningTime'" (getSortValues)="sortByColumn($event)">
                    Time of joining</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeeData;let i=index">
                <td>
                    <img src={{employee.imageUrl}} alt="">
                </td>
                <td>
                    {{employee.firstName}}
                </td>
                <td>
                    {{employee.lastName}}
                </td>
                <td>
                    {{employee.username}}
                </td>
                <td>
                    {{employee.email}}
                </td>
                <td>
                    {{employee.gender}}
                </td>
                <td>
                    {{employee.experience}}
                </td>
                <td>
                    {{employee.appsDeveloped}}
                </td>
                <td>
                    {{employee.joiningTime}}
                </td>
                <td>
                    <button class="btn deleteButton" (click)="deleteRow(employee.id,i)">
                        D E L E T E
                    </button>
                </td>
                <td>
                    <button class="btn editButton" data-toggle="modal" data-target="#editEmployee"
                        (click)="selectEditObj(employee)">
                        E D I T
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>