<ng-container>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Image 
                </th>
                <th
                appSortTable 
                 [isDefault]="true"
                 [isAscending]="false"
                 [colName]="'firstName'" 
                 (getSortValues)="sortByColumn($event)"
                 >
                    First Name
                </th>
                <th
                appSortTable
                [isDefault]="true"
                [colName]="'lastName'"
                (getSortValues)="sortByColumn($event)"
                >Last Name</th>
                <th
                appSortTable
                [isDefault]="true"
                [colName]="'username'"
                (getSortValues)="sortByColumn($event)"
                >Username</th>
                <th
                appSortTable
                [isDefault]="true"
                [colName]="'email'"
                (getSortValues)="sortByColumn($event)"
                >Email</th>
                <th
                appSortTable
                [isDefault]="true"
                [colName]="'gender'"
                (getSortValues)="sortByColumn($event)"
                >Gender</th>
                <th
                appSortTable
                [isDefault]="true"
                [colName]="'experience'"
                (getSortValues)="sortByColumn($event)"
                >Experience</th>
                <th
                appSortTable
                [isDefault]="true"
                [colName]="'appsDeveloped'"
                (getSortValues)="sortByColumn($event)"
                >Developed Apps</th>
                <th
                appSortTable
                [isDefault]="true"
                [colName]="'joiningTime'"
                (getSortValues)="sortByColumn($event)"
                >Time of joining</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeeData">
                <td>
                    <img src={{employee.imageUrl}} alt="">
                </td>
                <td>
                    {{employee.firstName}}
                </td>
                <td>
                    {{employee.lastName}}
                </td>
                <td>
                    {{employee.username}}
                </td>
                <td>
                    {{employee.email}}
                </td>
                <td>
                    {{employee.gender}}
                </td>
                <td>
                    {{employee.experience}}
                </td>
                <td>
                    {{employee.appsDeveloped}}
                </td>
                <td>
                    {{employee.joiningTime}}
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>