td{
    img{
        width: 50px!important;
        height: 50px;
    }
}

.addButton{
    background-color: darkgoldenrod;
    width: 70px;
    height: 35px;
    margin: 20px;
    color: lightcyan;
}