<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">       
            <div class="modal-header">
                <h4 class="modal-title">Confirm the transaction...</h4>
                <button type="button" class="close" aria-label="Close" (click)="dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you really want to delete USERNAME...?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="cancel()">cancel</button>
                <button type="button" class="btn btn-primary" (click)="accept()">okay</button>
            </div>
        </div>
    </div>
</div>